
a {
    color: lime;
}
.GetOut{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 93px;
}
hi {
    color: pink;
}
.shrek {
    color:yellowgreen;
}
.readable {
    color: whitesmoke;
    font-size: medium;
}

.greenmegamind {
    background-color:brown; 
                
}
body table tr th{
    color: white; 
} 
.imageFool{
    text-align: center;
    font-size: large;
}

.bodylesson1{
    color: #E27D60;
    background-color:#41B3A3;

}
.donkeycolor{
    text-align: center;
    background-color: aqua;
    color: rgb(7, 2, 2);
    border-style: dotted;
    font-size: medium;
}
.donkeyfont{
    color: blanchedalmond;
}
.evenline{
    background-color: brown;
    color: cornsilk;
    
}
.headdonkey{
    margin: 10px;
    padding-top: 7%;
    padding-bottom: 10px;
    border: 10px darkgreen;
}
.homepagestuff{
    margin: 10px;
    border: 10px;
    color: darkgrey;
}
.homepagebody {
    background-color: #F7F7F2;
    color: #222725;
    position: sticky;
}
.header {
    background-color: #899878;
    color: #121113;
    font-size: xx-large;
    text-align: center;
    border: 50px;
}
.footer {
    background-color:#E4E6C3;
    color: #121113;
    font-size: medium;
    text-align: center;
    
}
.liho {
    background-color:#E4E6C3;
    color: #121113;
    font-size: medium;
    text-align: center;
}
.liho2{
    background-color: #899878;
    color: #F7F7F2;
    font-size: medium;
    text-align: center;
}
.footer1 {
    background-color: #899878;
    color: #F7F7F2;
    font-size: medium;
    text-align: center;
}
.tunkuabdulrahman {
    background-color: #899878;
    border: solid;
    font-size: large;
    top: 0px;
    position:sticky;
}
h1  {
    border: 3px solid 
}

.fiona_backgroundimage {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/353/126/418/backgrounds-shrek-hd-wallpaper-thumb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.donkeybackgroundcolor {
    background-color: peru; 
}
.centre {
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding-left: 400px
;
}
.children_code_left{
    display: flex;
    float: left;
}
.children_code_right {
    display: flex;
}
.wrapper {
    width: 900px;
}
.sidebar-left {
    background:cornflowerblue;
}
.dropdown {
    display: inline-block;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    color:green;
}
.dropdown_image {
    opacity: 0.6;
    transition: 0.3s;
}
.centreimage {
    text-align: center;
}
.dropdown:hover .dropdown_content{
    display: block;
}
.fade-in{
    animation-name: fade-in-animation;
    animation-duration: 1.65s;
}
.headershrek {
    font-size: xx-large;
    text-align: center;
    border: 50px;
}
.lesson3font{
    font-size: medium;
    color: #006400;
}
@keyframes fade-in-animation {
    from {
        opacity: 0;
        transform: rotate(-360deg);
    }
    to {
        opacity: 1;
        transform: rotate(0deg);
    }
}
.blinking-colour{
    animation-name: blink-colour-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-colour-animation {
    0% {color: lightgreen}
    30%{color: #067900;}
    45% {color: #005d0d}
    60% {color: #085700}
    75% {color: #084800}
    90% {color: #0c3b00}
    100% {color:#171717;}
}
.lessontext{
    color: #8658A5;
}
.collapsible {
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #404040;
  }
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
.lesson2style{
      background-color: #659DBD;
      color: #FBEEC1;
  }
.lesson3style{
    background-color: #FBEEC1;
    color: #BC986A;
}